 .ramecek {
    border: 1px solid black !important;
    padding: 10px 0 10px 5px;
}

 .menu {
    list-style-type: none;
    background-color: black;
    padding: 6px;

}
h1 {
    margin: 12px 0 12px 0;
    text-align: left;
    font-family: Centarell-Bold;
}

.links img { 
    width: 35px;
    height: 100%;
}
.container {
    padding-inline-end: 0fr;
}

.white-background{
    background-color:rgba(255, 255, 255, 0.5);
    min-height: 55vh;
}
body{
    background-image: url("https://tipyjakfotit.cz/wp-content/uploads/2013/02/shutterstock_2310943541.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */

    height: 100%;
    background-position: center; /* Center the image */
    /* background-repeat: no-repeat; Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

  }

.white-background{
background-color:rgba(255, 255, 255, 0.5);
min-height: 55vh;
}