 .ramecek {
    border: 1px solid black !important;
    padding-left: 5px;
}

 .menu {
    list-style-type: none;
    background-color: black;
    padding: 6px;

}
h1 {
    margin: 12px 0 12px 0;
    text-align: left;
    font-family: Centarell-Bold;
}
.container {
    margin: 5px 0 5px 0;
}
footer img { 
    width: 35px;
    height: 100%;
}
